@import "animation.scss";
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

html {
    font-size: 10px;
}
body {
    background: $white;
}

/* Box Bg */
.bg-1 {
	background: $bg-1;
	color: #37474f;
}
.bg-2 {
	background: $bg-2;
	color: #ECEFF1;
}
.bg-3 {
	background: $bg-3;
	color: $white;
}

.content {
    width: 95rem;
    margin: 0 auto;
    padding: 3rem;
    &__title {
        display: flex;
        justify-content: center;
        h2 {
            font-size: 3.5rem;
            color: #37474f;
            font-family: 'Gugi', cursive;
            letter-spacing: .6px;
            margin: 0;
        }
    }
    &__desc {
        padding: 1rem 0 2rem;
        p {
            font-size: 1.7rem;
            color: #333;
            line-height: 1.5;
            font-family: 'Roboto', sans-serif;
        }
    }
    .box {
        display: flex;
        justify-content: space-around;
        padding: 7rem 0;
    }
}


// Animaciones

//****************************
//******** Winona ************
//****************************

.content__winona {
    button {
        @include button;
        @include winona;
        font-size: 1.7rem;
    }
    .bg-1 {
        button {
            color: #37474f;
            border-color: #37474f;
            border: 2px solid;
            &:hover {
                border-color: $white;
            }
        }
    }
    .bg-2 {
        button {
            border-radius: 4rem;
            color: $white;
            border: 3px solid $white;
            &:hover {
                border-color: $white;
            }
        }
    }
    .bg-3 {
        button {
            @include button--inverted;
            border-radius: 0;
            border-color: $white;
            color: $white;
        }
    }
}

//****************************
//******** Ujarak ************
//****************************

.content__ujarak {
    button {
        @include button;
        @include ujarak;
        font-size: 1.7rem;
    }
    .bg-1 {
        button {
            color: #37474f;
            border-color: #37474f;
            border: 2px solid;
            &:hover {
                color: $white;
                border-color: #37474f;
            }
        }
    }
    .bg-2 {
        button {
            overflow: hidden;
            border-radius: 3rem;
            color: $white;
            border: 3px solid $white;
            &:hover {
                border-color: $white;
                &:before {
                    background: darken($bg-2, 20%);
                }
            }
        }
    }
    .bg-3 {
        button {
            border-radius: 0;
            border-color: darken($bg-3, 8%);
            border: 2px dashed;
            color: darken($bg-3, 18%);
            &:hover {
                color: $white;
                border-color: #444;
            }
        }
    }
}
